@charset "UTF-8";

/* estilo para tela */

* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

header {
  background-color: lightgray;
}

header > h1 {
  text-align: center;
  padding: 15px;
}

menu {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.219);
}

menu ul {
  list-style-type: none;
  background-color: gray;
}

menu li {
    background-color: rgb(75, 75, 75);
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
}

menu > ul > li:hover {
  background-color: rgb(34, 34, 34);
  transition: 300ms;
  box-shadow: 3px 3px 3px white;
  transform: translateY(-2px);
  cursor: pointer;
}

article {
    width: 600px;
    display: block;
    margin: auto;
    background-color: rgb(206, 205, 205);
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}

article > p {
    text-align: justify;
    line-height: 25px;
    margin-bottom: 20px;
    text-indent: 25px;
}