*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family: 'JetBrains Mono', monospace;

background:#05010a;

color:white;

overflow-x:hidden;

}

/* BACKGROUND ANIMADO */

.bg{

position:fixed;

width:100%;

height:100%;

background:

radial-gradient(circle at 20% 20%, #6b00ff33, transparent 40%),
radial-gradient(circle at 80% 70%, #b700ff22, transparent 40%);

z-index:-1;

animation:bgmove 10s infinite alternate;

}

@keyframes bgmove{

from{
transform:translateY(0px);
}

to{
transform:translateY(-40px);
}

}

/* NAVBAR */

.nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 60px;

border-bottom:1px solid #2b0055;

background:#05010acc;

backdrop-filter:blur(10px);

position:sticky;

top:0;

}

.logo{

color:#c084ff;

font-size:22px;

}

.menu{

display:flex;

gap:30px;

list-style:none;

}

.menu a{

text-decoration:none;

color:#aaa;

transition:0.3s;

}

.menu a:hover{

color:#c084ff;

}

/* HERO */

.hero{

text-align:center;

padding:100px 20px;

}

.hero h2{

font-size:50px;

background:linear-gradient(90deg,#a855f7,#e879f9);

-webkit-background-clip:text;

color:transparent;

}

.hero p{

opacity:0.7;

margin-top:10px;

}

/* TITULOS */

.titulo{

text-align:center;

margin:80px 0 40px 0;

font-size:28px;

color:#c084ff;

}

/* GRID EXERCICIOS */

.grid{

max-width:1000px;

margin:auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(160px,1fr));

gap:25px;

padding:20px;

}

/* CARD */

.card{

text-decoration:none;

background:#0c0217;

border:1px solid #3c0070;

padding:30px;

border-radius:12px;

text-align:center;

color:#c084ff;

font-weight:700;

transition:0.25s;

position:relative;

overflow:hidden;

}

.card:hover{

transform:translateY(-6px);

box-shadow:0 0 20px #7b2cff;

}

/* GLOW ANIMADO */

.card::before{

content:"";

position:absolute;

width:120%;

height:120%;

background:linear-gradient(120deg,transparent,#7b2cff55,transparent);

top:-50%;

left:-50%;

transform:rotate(25deg);

transition:0.5s;

}

.card:hover::before{

left:100%;

}

/* SKILLS */

.skills{

max-width:600px;

margin:auto;

padding:20px;

}

.skill{

margin:25px 0;

}

.barra{

width:100%;

height:10px;

background:#1a0033;

border-radius:10px;

overflow:hidden;

}

.progresso{

height:100%;

animation:load 2s ease;

}

.html{

width:67%;

background:linear-gradient(90deg,#9333ea,#c084ff);

}

.css{

width:80%;

background:linear-gradient(90deg,#7c3aed,#a855f7);

}

@keyframes load{

from{

width:0;

}

}

/* FOOTER */

footer{

text-align:center;

padding:40px;

opacity:0.6;

}